*{
    margin: 0;
    padding:0;
}

:root{
    --firstColor : #55846E;
    --secondColor: #E0A1C2;
    --dark: #1D3329;
    --light: #FCF8FF;

}


body{
    min-height: 100vh;
    background-color: var(--firstColor);
}